/* Common container properties */
.common-project-work-container {
    background: var(--bg-container-color);
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px;
    width: auto;
    height: auto;
  }
  
  /* Shared text styles */
  .common-project-work-container h3,
  .common-project-work-container p,
  .common-project-work-container ul,
  .common-project-work-container ul li {
    font-family: 'Roboto', sans-serif;
    text-shadow: none;
    color: var(--text-color);
    margin-left: 20px;
  }
  
  .common-project-work-container ul {
    list-style-type: none;
  }
  
  .common-project-work-container ul li {
    margin-left: 0;
    list-style-type: none;
    display: block;
    position: relative;
    padding-left: 25px;
  }
  
  .common-project-work-container ul li::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  /* Unique properties for work experience container */
  .work-experience-container {
    /* unique properties if any */
  }
  
  .work-experience {
    background: var(--container-color);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 2%;
    margin: 3%;
    margin-bottom: 7%;
    width: 90%;
    position: relative;
  }
  
  .work-experience::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--bg-container-color);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.2;
  }
  
  /* Unique properties for project container */
  .project-container {
    width: 90%;
    margin-bottom: 4%;
  }
  
  .projects {
    background: var(--container-color);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 2%;
    margin: 2% auto;
    width: 90%;
    position: relative;
  }
  
  .projects::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: var(--bg-container-color);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.2;
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
    .common-project-work-container {
      width: 22em; /* Adjusted to be responsive for both containers */
    }
  }
  