/* Common container properties */
.common-container {
  background: var(--bg-container-color);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}

/* Unique properties for links container */
.links-container {
  padding: 20px;
  width: 30em;
  margin-top: 1.5ex;
}

.links-container::before,
.links-container::after,
.contact-container::before {
  content: '';
  position: absolute;
  background: var(--container-color);
  opacity: 0.2;
}

.links-container::before {
  left: -75px;
  top: -75px;
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
}

.links-container::after {
  right: -75px;
  bottom: -75px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

/* Unique properties for contact container */
.contact-container {
  width: 100%;
}

.contact-container::after {
  content: '';
  width: auto;
  height: 100px;
  background: var(--container-color);
  clip-path: circle(50%);
  opacity: 0.2;
}

/* Shared text styles */
.common-container h2,
.common-container ul,
.common-container li,
.common-container li a,
.contact-container h2,
.contact-container p {
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
  color: var(--text-color);
}

/* Unique list styles for links container */
.links-ul-container {
  list-style-type: none;
  padding: 0;
}

.links-container .link-ul-container li {
  list-style-type: none;
  margin-left: 0;
  transition: transform 0.2s;
}

.links-container li {
  background-color: var(--container-color);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 2%;
  box-shadow: none;
}

.links-container li a {
  text-decoration: none;
  display: block;
  color: var(--text-color);
}

.links-container li a:hover {
  color: wheat;
  transform: translateY(-2px);
  background-color: #005599;
  border-radius: 10%;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .links-container,
  .project-container,
  .work-experience-container,
  .contact-container {
    width: auto; /* Adjusted to be responsive */
  }
}
