
.contact-container {
  background:  var(--bg-container-color);
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.contact-container::before {
  content: '';
  width: auto;
  height: 100px;
  background:  var(--container-color);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  opacity: 0.2;
}

.contact-container::after {
  content: '';
  width: auto;
  height: 100px;
  background:  var(--container-color);
  clip-path: circle(50%);
  opacity: 0.2;
}

.contact-container h2,
.contact-container p {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .links-container {
 
    width: 20em;


  }
  .project-container {
  width: 22em;
  }
  .work-experience-container {
    width: 22em;
  }
  .contact-container {
    width: 23em;
  }
  
}