.App{
  padding: 1%;
}
h1,h2,h3,h4,h5,h6{
  color: var(--text-color);
}
.container{
  text-align: center;
  margin: 0 10%;
}
.toprow {
  text-align: center;
  font-size: 2em;
  transform: scale(0.9);
  transform-origin: top center;
  margin-top: -3%;
}
.group-of-blocks {
  transform: scale(0.9);
  transform-origin: 0 0; 
  position: relative;
  left: 21em;
  top: -40%;
  display: flex;


}

.group-of-blocks .Blocks {
  width: 30%; 
  margin-right: 1em; 
}
.group-of-blocks .item:last-child {
  margin-right: -10%;
}

.Blocks3{
  width: auto;
  position: absolute;
  border-radius: 10px;


}

.group-of-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.Blocks {
  flex: 1;
}
.group-of-blocks .Blocks:nth-child(1),
.group-of-blocks .Blocks:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 1px; 

  width: 140%;
}

.group-of-blocks .Blocks:nth-child(4),
.group-of-blocks .Blocks:nth-child(5) {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 1px; 

  width: 130%;
}

.group-of-blocks .Blocks:nth-child(5){
  margin-top: 40%;
}


@media screen and (max-width: 768px) {
  body, html {
   
    overflow-y:scroll; /* Prevent horizontal scroll */
    
  }
  
  .container {
    text-align: center;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr; 
}

.Blocks{
    width: 100%; 
}

.Blocks3 {
    position: relative; 
    left: -4em;
    width: auto;
    margin: 0 auto; 
    margin-bottom: 1em; 
}

.group-of-blocks {
    position: relative;
    top: 2em;
    left: 2em;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto; 

}
  .Blocks, .Blocks3 {
    position: relative;
    width: 100%; 
  }


}

