.all-button{
  margin: auto;
  width: 100%;
  /* border: 1px solid red; */
}
.resume-button {
  position: fixed; 
  bottom: 0;       
  left: 10;         
  width: 100%;     
  z-index: 1000;   

}
.button-group1{
  background-color: aqua;
  width: 25%;
  padding: 5px;
  margin: auto;
  font-weight: bold; 
}
.button-group{
  width: 20%;
  padding: 5px;
  margin: auto;
}
.button-group:hover,.button-group1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* new css */

/* App.css */

.App {
  background-color: #94aed6;
  color: #000000;
  font-family: 'Arial', sans-serif; 
  padding: 2px;
}


.button-group:hover,.button-group1:hover{
  background-color: #727374; 
  color: white;
}
.qnav{
  background-color: #cecece;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: 1px solid black;
  border-radius: 15px;
  height: auto;

}
table {
  width: 50%; /* Adjust the width as needed */
  margin-left: auto; /* Centers table on the page */
  margin-right: auto; /* Centers table on the page */
  border-collapse: collapse;
}

td {
  padding: 8px;
  text-align: left; /* Aligns text to the left */
}

td:first-child {
  font-weight: bold;
  text-align: right; /* Aligns the labels to the right, so they are closer to the data */
}

a {
  color: #00f; /* Example link color */
}
